.ContactAdder {
  .CancelButton {
    &:hover {
      color: var(--primary-soft);
      border-color: var(--primary-soft);
    }
  }
  .Content {
    .Title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .SearchBar {
      padding-bottom: 1rem;

      button {
        &:hover {
          border-color: var(--primary-soft);
          svg {
            color: var(--primary-soft);
            fill: var(--primary-soft);
          }
        }
      }

      input:hover,
      input:focus {
        border-color: var(--primary-soft);
        box-shadow: none;
      }
    }

    .Candidates {
      max-height: 60vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0.5rem 1rem;
    }
  }
}
