.TextMessage {
  // transition: border-radius 0.05s ease-in-out;
  display: flex;
  align-items: end;
  gap: 0.2rem;
  .MessageHolder {
    /*   display: flex;
    justify-content: space-between; */
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: #e7eff7;
    width: fit-content;
    min-height: fit-content;

    max-width: 80%;
    /* width: fit-content; */
    position: relative;
    word-break: break-word;
    word-wrap: break-word;
    white-space: break-spaces;

    .SentDateHolder {
      float: right;
      color: var(--primary-blank-deeper);

      font-size: 0.8rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  &:not(.SelfSent):not(:last-child) {
    .MessageHolder {
      border-top-left-radius: 2rem;
    }
  }
  &:is(:last-child):not(.SelfSent) {
    .MessageHolder {
      border-bottom-left-radius: 2rem;
    }
  }
  &:not(.SelfSent) {
    .MessageHolder {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }

  &.SelfSent {
    justify-content: end;
    .MessageHolder {
      padding: 1rem 0.5rem 0.5rem 1rem;
      color: #ffff;
      background: linear-gradient(
        to right,
        var(--primary-hard),
        var(--primary-soft)
      );
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      position: relative;

      .SentDateHolder {
        color: var(--primary-blank-lighter);
      }

      .Options {
        display: none;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 2rem;

        position: absolute;
        left: -2rem;
        bottom: 50%;
        transform: translateY(50%);
        cursor: pointer;

        svg {
          color: var(--primary-blank-deeper);
        }

        .ActionsHolder {
          .DeleteButton {
            cursor: pointer;
            color: red;
            &:hover {
              color: white;
              background-color: red;
            }
          }
        }

        &:hover {
          svg {
            color: gray;
          }
        }
      }

      &:hover {
        .Options {
          display: flex;
        }
      }
    }
    &:not(:last-child) {
      .MessageHolder {
        border-top-right-radius: 2rem;
      }
    }
    &:is(:last-child) {
      .MessageHolder {
        border-bottom-right-radius: 2rem;
      }
    }
  }

  /* &.Temporary {
    opacity: 0.5;
  } */
}
