.Default {
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;

  .Menu {
    position: absolute;
    color: var(--primary-soft);
    width: 2rem;
    left: 1rem;
    top: 1rem;
    cursor: pointer;

    @media screen and (min-width: 701px) {
      display: none;
    }
  }

  svg {
    width: 60vw;
    max-width: 20rem;
  }
}
