.ChatDisplayer {
  --nav-chat-left-pad: 0.8rem;

  .Header {
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
    padding: 1.4rem var(--nav-chat-left-pad);
  }
  .ChatTypes {
    display: flex;
    gap: 1rem;
    padding: 0.2rem var(--nav-chat-left-pad) 1rem var(--nav-chat-left-pad);
    .ChatType {
      font-weight: 500;
      color: var(--main-blank);
      cursor: pointer;
      &.active {
        color: inherit;
        font-weight: 700;
      }
    }
  }
}
