.ContactLink {
  display: block;
  text-decoration: none;

  .Contact {
    background-color: var(--primary-light);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem #cccc;
    cursor: pointer;
    padding: 0.7rem;
    transition: transform 0.2s ease;
    display: flex;
    gap: 1rem;
    transition: color 0.1s ease, background-color 0.1s ease;
    .InfoHolder {
      max-width: 70%;

      .UsernameHolder {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .LastMessageHolder {
        max-width: 100%;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--primary-blank-deeper);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:hover {
      transform: translate(0.1rem, -0.1rem);
    }
  }

  &.active {
    .Contact {
      background-color: var(--primary-dark);
      color: var(--primary-light);
    }
  }
}
