.NotificationDisplayer {
  height: 100%;
  // padding: 0.5rem 0;

  display: flex;
  flex-direction: column;

  .Spinner {
    i {
      background-color: var(--primary-soft);
    }
  }

  .Collapse {
    border-radius: 0;

    div {
      border-radius: 0 !important;
    }
  }
  .RequestList {
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
  }
}
