.VoiceRecorder {
  background: transparent;
  display: grid;
  place-items: center;
  overflow: visible;

  span {
    border-radius: 100%;

    transform: scale(1.05);
    display: grid;
    place-items: center;

    svg {
      position: relative;
    }
  }
  &:is([is-recording="true"]) {
    svg {
      color: red;
    }
  }
}
