.Chat {
  height: 100vh;

  .MainSection {
    height: 100%;
    display: flex;
    gap: 0.2rem;
    background-color: hsl(200deg 33% 98%);

    .MainContent {
      height: 100%;
      width: 100%;
      background-color: blueviolet;
    }
    .SideContent {
      height: 100%;
      width: 25rem;
    }
  }
}
