* {
  margin: 0;
  padding: 0;
  //color: #222;
  font-family: "Roboto", Courier, monospace;
  box-sizing: border-box;
}
:root {
  --primary-hard: #6d54e5;
  --main-blank: #bcc6cb;
}

.App {
  font-size: 1rem;
  color: #313139;
}
